fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

faiss-cpu
pymongo
motor
httpx
numpy
scikit-learn
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
tenacity
structlog
rich
pytest
pytest-asyncio